{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<style>
		form #error-div ul li {
			list-style-type: none;
			color: crimson;
		}
	</style>
</head>
<body>
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	        <div class="icon d-flex align-items-center justify-content-center">
		      		        <span class="fa fa-user-o"></span>
		      	        </div>
		      	        <h3 class="text-center mb-4">Login</h3>
						<form action="." method="post" class="login-form"> {% csrf_token %}
							<div id="error-div">
								{{ form.non_field_errors }}
							</div>
                            {% for field in form %}
                                <div class="form-group">
									{{ field.errors }}
                                    {{ field }}
                                </div>
                            {% endfor %}
	                        <div class="form-group">
	            	            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Login</button>
	                        </div>
	                        <div class="form-group d-md-flex">
	            	            <div class="w-50">
								    <p>Need an Account?</p>
								</div>
								<div class="w-50 text-md-right">
									<a href="{% url 'signup' %}">Sign Up </a>
								</div>
	                        </div>
	                    </form>
	                </div>
				</div>
			</div>
		</div>
	</section>

    <script src="{% static 'js/login.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>